In [2]:
import pandas as pd

/var/folders/kg/wlqyjqh544j4rxfmwgfvd2dc0000gn/T/ipykernel_5658/217833862.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [8]:
def sumproduct (l1,l2):
    a = 0
    k = len(l1)
    for i in range(k):
        a = a + l1[i]*l2[i]
    return a

In [9]:
sumproduct([1,2,3], [4,5,6])

32

In [38]:
f_entrada = 'Notas-Para-Calcular.xlsx'
f_saida = 'Notas-Calculadas.xlsx'

In [29]:
df_notas = pd.read_excel(f_entrada, sheet_name= 'Notas', engine='openpyxl')

In [5]:
df_notas

,nAluno,nome,dataNascimento,email,Teste 1,Teste 2,Lab 1,Lab 2,Lab 3,Lab 4,Final
0,701,Rosa C. Olsen,1996-06-07,l0701@aln.iseg.ulisboa.pt,16.8,9.2,12.6,10.6,13.7,9.2,NaN
1,798,Clarence Sheridan,1996-01-03,l0798@aln.iseg.ulisboa.pt,15.8,15.8,18.9,19.6,14.2,4.3,NaN
2,854,Jaclyn T. Glover,1995-09-20,l0854@aln.iseg.ulisboa.pt,11.2,8.5,9.1,16.8,13.0,19.6,NaN
3,663,Catherine U. Buggs,1995-12-09,l0663@aln.iseg.ulisboa.pt,15.0,6.8,5.4,8.2,6.2,4.4,NaN
4,921,James E. Watkins,1999-08-08,l0921@aln.iseg.ulisboa.pt,11.0,8.0,16.9,5.4,14.9,5.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
85,864,Jerry J. Ramos,1999-03-13,l0864@aln.iseg.ulisboa.pt,11.3,8.6,9.8,4.7,7.1,17.8,NaN
86,860,Gabriel Anderson,1998-05-10,l0860@aln.iseg.ulisboa.pt,11.3,11.3,19.3,16.6,14.6,12.2,NaN
87,778,Erika B. Neville,1997-03-04,l0778@aln.iseg.ulisboa.pt,12.9,19.2,6.7,10.9,6.1,19.2,NaN
88,609,Pamela V. Thibodeaux,2000-04-25,l0609@aln.iseg.ulisboa.pt,18.2,19.2,12.4,12.0,12.5,9.2,NaN
89,960,Cordell Chaney,1998-03-27,l0960@aln.iseg.ulisboa.pt,12.1,14.5,5.6,6.3,7.3,7.5,NaN

In [6]:
df_pesos = pd.read_excel(f_entrada, sheet_name='Pesos',engine='openpyxl')

In [7]:
df_pesos

   Teste 1  Teste 2  Lab 1  Lab 2  Lab 3  Lab 4
0      0.4      0.2    0.1    0.1    0.1    0.1

In [ ]:
x =sumproduct(list(df_notas.loc[0, 'Teste 1':'Lab 4']), list(def_pesos.loc[0, 'Teste 1':'Lab 4']))
df_notas.loc[0, 'Final'] = x

In [17]:
sumproduct(list(df_notas.loc[0,'Teste 1':'Lab 4']),list(df_pesos.loc[0, 'Teste 1': 'Lab 4']))

13.17

In [36]:
lista_pesos = list(df_pesos.loc[0, 'Teste 1':'Lab 4'])

for i in range(len(df_notas)):
    lista_notas = list(df_notas.loc[i, 'Teste 1': 'Lab 4'])
    df_notas.loc[i,'Final'] = sumproduct(lista_notas,lista_pesos)

In [44]:
df_notas.head()

,nAluno,nome,dataNascimento,email,Teste 1,Teste 2,Lab 1,Lab 2,Lab 3,Lab 4,Final
0,701,Rosa C. Olsen,1996-06-07,l0701@aln.iseg.ulisboa.pt,16.8,9.2,12.6,10.6,13.7,9.2,13.17
1,798,Clarence Sheridan,1996-01-03,l0798@aln.iseg.ulisboa.pt,15.8,15.8,18.9,19.6,14.2,4.3,15.18
2,854,Jaclyn T. Glover,1995-09-20,l0854@aln.iseg.ulisboa.pt,11.2,8.5,9.1,16.8,13.0,19.6,12.03
3,663,Catherine U. Buggs,1995-12-09,l0663@aln.iseg.ulisboa.pt,15.0,6.8,5.4,8.2,6.2,4.4,9.78
4,921,James E. Watkins,1999-08-08,l0921@aln.iseg.ulisboa.pt,11.0,8.0,16.9,5.4,14.9,5.1,10.23

In [45]:
my_writer = pd.ExcelWriter(f_saida, engine='openpyxl') #criar o ficheiro

In [46]:
df_notas.to_excel(my_writer,sheet_name='Notas_Calculadas', index=False) #se o index for true, adiciona-se ao excel uma primeira coluna com os números 0 - x

In [47]:
my_writer.close() # o ficheiro tem de ser sempre fechado