In [1]:
print('Hello, world!')

Hello, world!

In [2]:
a=10

In [3]:
a==10

True

In [11]:
s='isto é um texto'

In [10]:
print(s)

isto é um texto

In [13]:
'uma' in s

False

In [21]:
a = 5
print(a)
a**=2
print(a)

5
25

In [ ]:
Not - and - or

In [32]:
d = 10
m = 'Janeiro'
a = 2024
print('A data é',d,"do mês de",m,"do ano",a)
print('A data é %d do mês de %s do ano de %d' %(d, m, a))
print('A data é {} do mês de {} do ano de {}'.format(d, m, a))
print(f'A data é {d} do mês de {m} do ano de {a}')

A data é 10 do mês de Janeiro do ano 2024
A data é 10 do mês de Janeiro do ano de 2024
A data é 10 do mês de Janeiro do ano de 2024
A data é 10 do mês de Janeiro do ano de 2024

In [39]:
s = "0123456789abcdefghi"
s2= "abcdefghij"

In [51]:
print(s[ 6: 12 ])

ihgfedcba9876543210

In [ ]:
-- imprime do terceiro ao oitavo caracter (exceto o 8) 
-- a indexação começa sempre no 0

In [46]:
print(s2 [6:12])

gi

In [54]:
print(s[12:6:-1])
print(s[ : : -1])

cba987
ihgfedcba9876543210

In [5]:
x = input('introduza um valor para calcular: ')
x = eval(x)

In [7]:
x=eval(input('introduza um valor para calcular: '))

In [8]:
print(x*5)

50